* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.88px;
    text-align: center;
    margin-left: 42px;
    color: #17233D;
    cursor: pointer;
    ;
}

header {
    margin-top: 47px;
}

.button-header {
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    background: #6FBF44;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-left: 260px;
    margin-top: 6px;
}

.secimage {
    display: inline-block;
    margin-left: 121px;
    margin-top: 246px;
}

.sectext {
    display: inline-block;
    padding-bottom: 300px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    width: 582px;
    margin-left: 120px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 493px;
    margin-top: 47px;
    margin-left: 120px;
}

.learn {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #6FBF44;
    display: inline-block;
    cursor: pointer;
    margin-top: 55px;
    margin-left: 120px;


}

@media screen and (max-width:900px) {
    .secimage {
        display: block;
        margin: 0 auto;
        margin-left: 10%;

    }

    .sectext {
        display: block;
        position: absolute;
        text-align: center;
        padding-left: 39px;
        padding-bottom: 0px;
        margin-top: 50px;

    }

    .link-header {
        display: none;
        margin: 0;
        padding: 0;
    }

    h1 {
        display: block;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.6px;
        margin: 0 auto;
        width: 278px;
        height: 60px;
    }

    p {
        display: block;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        margin: 0 auto;
        width: 304px;
        height: 165px;
        margin-top: 29px;
    }

    .learn {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 1px;
        margin: 0 auto;
        margin-top: 26px;
    }

    img {
        width: 312px;
        height: 288px;
        position: absolute;
        margin-top: 450px;
    
    }
}