* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: rgb(93,93,125);
}

h1 {
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}
p {
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin:15px 0;
    width: 548px;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}
.container-left {
    display: inline-block;
    width: 70%;
    margin-top: 15%;
    padding-left: 300px;
    
}
.container-right {
    display: inline-block;
    background: rgba(93,93,125,0.16);
    height: 100vh;
    width: 62.5vh;
    position: absolute;
}
img {
    position: relative;
    top: 20%;
    right: 24%;
}
.link-header {
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    margin-left: 57px;
    cursor: pointer;
}
header {
    margin-top: 24px;   
}
#corunica {
    color: rgba(93,93,125,0.4);
}
.button-title {
    width: 269px;
    height: 62px;
    font-size: 24px;
    line-height: 100%;
    border-radius: 30px;
    border: none;
    background: #9499EA;
    text-align: center;
    color: white;
    cursor: pointer;
    margin-bottom:123px ;
}
button:hover {
    opacity: .8;
}
button:active {
    opacity: .5;
}
a:hover {
    opacity: .4;
}
a:active {
    opacity: .8;
}
@media screen and (max-width:900px){
   
.container-left {
    width: 100%;
    margin: 0;
    height: 50%;
    padding: 0;
    

} 


.container-right {
    display: block;
    width: 100%;
    position: static;
    padding: 40px;
    height: 50%;
}
h1 {
    text-align: center;
    font-size:36px;
    line-height: 52px;
    width: auto;
    margin: 50px 50px 0 50px;
    
}
img {
    width: 80%;
    position: static;

}
header {
    display: none;
}
p {
    text-align: center;
    font-size:14px;
    line-height: 24px;
    margin: 15px 40px;
    width: auto;
    
}
.button-title {
    margin: 0 auto;
    display: block;
    

}
}