@media screen and (orientation:landscape) {
    h1 { color: aqua;}
    h2 { color: aquamarine;}
    h3 { color: blueviolet;}
}
@media screen and (orientation:portrait) {
    h1 { color: rgb(21, 255, 0);}
    h2 { color: rgb(255, 0, 0);}
    h3 { color: rgb(0, 0, 0);}
}
