*{
    margin: 0;
    padding: 0;
}

body {
    background-image:url(..//fotos/capafundo.jpg);
          
    
    color: white;           
}
header{
    display: flex;
    flex-direction: row;
    
}
#logo {
    width: 50px;
    margin-left: 100px;
    margin-top: -70px   ;
}
#aroma{
    margin-left: 150px;
    margin-top: 50px; 
}



#aromadiv {
    border: solid rgb(0, 255, 42) 5px;
}
#divmae {
    border: solid blue 5px;
    margin-left: 50px;
}
#btmenu {
    border-radius: 5px;
    background-color:rgb(133, 51, 51) ;
    width: 100px;
    font-size: 20px;
    height: 30px;
    color: white;
    font-style: italic  
    
}
#btmenuposition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 300px;
}