img {
    width: 300px;
    height: 300px;
}
@media screen and (orientation: landscape) {
  .galeria4 {
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (orientation: portrait) {
    .galeria4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    }
}