@media screen and (orientation:landscape) {
    img {
        border: solid black;
    }

    .galeria {
        display: flex;
        gap: 10px;
    }
}

@media screen and (orientation:portrait) {
    img {
        border: solid red;

    }

    .galeria {
        display: block;
        gap: 10px;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        img {
            border: solid green;
        }

        .galeria {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}

img {

    width: 360px
}



@media screen and (max-width: 320px) {
   
}

.quadrado {
    width: 37.5px;
    height: 37.5px;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.verde {
    background: #00aa00;
}

.branco {
    background: white;
}

.tabuleiro1 {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 2px solid black;
}

@media screen and (max-width: 800px) {

}

.quadrado1 {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.azul {
    background: #2500aa;
}

.amarelo {
    background: yellow;
}

.tabuleiro2 {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: auto;
    border: 2px solid black;
}

@media screen and (min-width: 800px) {
    .tabuleiro3 { 
        border: 4px solid blue; 
    }
    body {
        background-color: #00aa00;
    }
}

.quadrado2 {
    width: 62.5px;
    height: 62.5px;
    flex-shrink: 0;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
}

.preto {
    background: #000000;
}

.vermelho {
    background: rgb(255, 3, 3);
}

.tabuleiro3 {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid black;
}