

        
        .pai {
            display: flex;
            gap: 20px;
            border: 3px solid black;
            padding: 20px;
            background: #fff;
        }

        
        .container1,
        .container2 {
            width: 50%;
        }

        
        .linha {
            display: flex;
            gap: 15px;
            
        }

       
        .campo {
            display: flex;
            flex-direction: column;
            
        }

        label {
            font-size: 14px;
          
        }

        input {
            height: 36px;
            border-radius: 6px;
            border: 1px solid #ccc;
            padding: 10px;
            font-size: 14px;
        }
        @media screen and (orientation: landscape) {
            div { display: block;}
            label {
                display: inline-block;
            }
        }
        @media screen  and (orientation: portrait){
            div {
                display: block;

            }
            label {
                display:block;
            }
        }