@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.imagem-logo {
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
    margin-top: 246px;
}

.link-header {
    margin-top: 47px;
    margin-left: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer;

}

.button-header {
    background: #6FBF44;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    border-radius: 10.5px;
    color: #ffffff;
    border: none;
    margin-left: 23px;
    cursor: pointer;

}

.link-section {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-left: 85px;
    margin-top: 55px;
    color: #6FBF44;
    display: inline-block;
    cursor: pointer;
}

section {
    display: inline-block;

}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    width: 582px;
    margin-left: 85px;
}

p {
    width: 493px;
    margin-top: 47px;
    margin-left: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
}