@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo-image {
    height: 500px;
    width: 568px;
    display: inline-block;
    margin-left: 125px;
}
header {
    margin: 44px 0 144px 76px
}
.button-header {
    background: #665AE1;
    border-radius: 20.5px;
    height: 41px;
    width: 130px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    cursor: pointer;
}
.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989d9c;
    cursor: pointer;
    margin-right: 23px;
}
.button-main {
    background: #adff00;
    border-radius: 30px;
    height: 64px;
    width: 239px;
    border: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    cursor: pointer;
    filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}
section {
    display: inline-block;
    margin-left: 86px;
}
h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}
h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}
p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}
@media screen and (max-width: 900px) {
    header {
        display: none;
    }
    .logo-image {
        width: 354px;
        height: 317px;
        margin: 149px auto 0 auto;
        display: block;
    }
    h1 {
        font-size: 50px;
        line-height: 100%;
        margin: 24px auto 0 auto;
        text-align: center;
    }
    h2 {
        font-size: 30px;
        line-height: 100%;
        text-align: center;
        margin: 7px 0 17px 0;
    }
    p { 
        display: none;

    }
    section {
        display: block;
        margin: 0 auto;
    }
    .button-main {
        display: block;
        margin: 0 auto;
    }
    
}