.site {
display: grid;
grid-template-columns: 200px 1fr;
grid-template-rows: auto 1fr auto;
min-height: 100vh;
border: solid black 5px;
}


header {
grid-column: 1 / 3;
border: solid black 5px;
}


footer {
grid-column: 1 / 3;
border: solid black 5px;
}